body{
    background-color: #ecfff8;
}

/*Alura logo*/
/* .logo-alura{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    left: 40px;
    top: 40px;
} */


/*Home Page*/
.homePage{
    display:block;
}

.title{
    position: relative;
    top: 381px;
    left: 820px;
    display: inline-block;

    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    font-style: italic;
}

/*Buttons*/
.start-button{
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 138px;
    gap: 8px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: white;
    
    width: 317px;
    height: 114px;
    margin:402px auto;
    
    /* Dark blue/dark-blue-300 */
    background: #154734;
    border-radius: 24px;
    border:none
}

.start-button:hover{
    transition:0.5s;
    transform: scale(1.05);
    background-color: #3c7a63;

    cursor:pointer;
}

.add-word-button{
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 52px;
    gap: 8px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    border-color: #3c7a63;
    color:#3c7a63;
    
    width: 254px;
    height: 90px;
    margin:-371px auto;
    
    /* Dark blue/dark-blue-300 */
    background: #ecfff8;
    border-radius: 24px;
}

.add-word-button:hover{
    transition:0.5s;
    transform: scale(1.05);
    background-color: #f0ffff;

    cursor:pointer;
}


/*Game Page*/
.gamePage{
    display:none;
}

/*Input game*/
.testLetterInput{
    position: relative;
    bottom: 145px;
    right: 359px;

    width: 200px;

    background: none; /*esconde el input*/
    color:#1a3250;
    padding-top: 20px;
    border:none;
    border-bottom: 1px solid #3c7a63;
    border-width: medium;
    outline:0;

    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
}

::placeholder{
    color:#154734;
    font-size:90%;
}

.testLetterButton{
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    top: 687px;
    right: 872px;
    bottom: 72px;
    left: 1068px;
    width: 124px;
    height: 46px;
    background: #1a3250;
    border-style:none;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor:pointer;

    /*text*/
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 4px;
}

.testLetterButton:hover{
    transition:0.5s;
    transform: scale(1.05);
    background-color: #336097;
}

/*Dibujo*/
#forca{
    position:relative;
    left: 175px;
    bottom:100px;
}

/*Buttons*/
.newGameButton{
    /*button*/
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    top: 807px;
    right: 872px;
    bottom: 72px;
    left: 791px;
    width: 328px;
    height: 67px;
    background: #154734;
    border-style:none;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor:pointer;

    /*text*/
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 24px;
}

.newGameButton:hover{
    transition:0.5s;
    transform: scale(1.05);
    background-color: #3c7a63;
}

.gameCancelButton{
    /*button*/
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    top: 708px;
    right: 520px;
    bottom: 72px;
    left: 889px;
    width: 328px;
    height: 67px;
    background: #ecfff8;
    border-radius: 24px;
    border-color: #3c7a63;
    color:#3c7a63;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor:pointer;

    /*text*/
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #0A3871;
    padding: 24px;
}

.gameCancelButton:hover{
    transition:0.5s;
    transform: scale(1.05);
    background-color: #f0ffff;
}

/*Messages*/
.youLost{
    display: none;

    position: relative;
    bottom: 684px;
    left: 1075px;

    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 150%;
    text-align: center;

    color:rgb(167 88 88);
}

.youWon{
    display: none;

    position: relative;
    bottom: 470px;
    left: 841px;

    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 150%;
    text-align: center;

    color:#389f79;
}


/*Add new word page*/
.addWordPage{
    display:none;
}

/*input text*/
.insertTextForm{
    position: absolute;
    width: 577px;
    height: 47px;
    left: 240px;
    top: 168px;
    overflow:hidden; 
}

.insertTextForm input{
    width: 577px;

    background: none; /*esconde el input*/
    color:#609ED4;
    padding-top: 20px;
    border:none;
    outline:0;

    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 100%;
}

.insertTextForm .lbl-text{
    position:absolute;
    bottom:0;
    left:0;
    width: 577px;
    height: 52px;
    pointer-events: none;
    border-bottom: 1px solid #0A3871;

    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.span-text{
    position: flex;
    bottom:5px;
    left:0;
    transition:all 0.3 ease;
    
    color:#0A3871;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 120%;
}

/*buttons*/
.saveButton{
    /*button*/
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    top: 708px;
    right: 872px;
    bottom: 72px;
    left: 532px;
    width: 328px;
    height: 67px;
    background: #154734;
    border-style:none;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor:pointer;

    /*text*/
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 24px;
}

.saveButton:hover{
    transition:0.5s;
    transform: scale(1.05);
    background-color: #3c7a63;
}

.cleanButton{
    /*button*/
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    top: 708px;
    right: 520px;
    bottom: 72px;
    left: 889px;
    width: 328px;
    height: 67px;
    background: #ecfff8;
    border-radius: 24px;
    border-color: #3c7a63;
    color:#3c7a63;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor:pointer;

    /*text*/
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #0A3871;
    padding: 24px;
}

.cleanButton:hover{
    transition:0.5s;
    transform: scale(1.05);
    background-color: #f0ffff;
}

.beginButton{
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    top: 800px;
    right: 872px;
    bottom: 72px;
    left: 671px;
    width: 197px;
    height: 54px;
    background: #1a3250;
    border-style:none;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor:pointer;

    /*text*/
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 19px;
}

.beginButton:hover{
    transition:0.5s;
    transform: scale(1.05);
    background-color: #336097;
}

.goHomeButton{
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    top: 800px;
    right: 872px;
    bottom: 72px;
    left: 878px;
    width: 197px;
    height: 54px;
    background: #1a3250;
    border-style:none;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor:pointer;

    /*text*/
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 19px;
}

.goHomeButton:hover{
    transition:0.5s;
    transform: scale(1.05);
    background-color: #336097;
}

/*warning*/
.warningLogo{
    /*position*/
    position: absolute;
    top: 682px;
    right: 1184px;
    bottom: 156px;
    left: 559px;
}

.letterWarning{
    /*position*/
    display: inline-block;
    position: relative;
    top: 660px;
    left: 573px;
    bottom: 155px;
    right: 971px;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */

    color: #495057;
    opacity: 0.8;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}